@import "../utils/mixins";
@import "../utils/animation";

.accueil {
  &__decouverte {
    display: flex;
    justify-content: center;
    column-gap: 6rem;
    > div {
      display: flex;
      justify-content: center;
    }
    &__selection {
      // max-height: 500px;
      width: 45%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding-top: 2rem;
      &__illustration {
        position: relative;
        display: flex;
        justify-content: center;
        &__new {
          background: $primary-color;
          color: white;
          font-size: 1.2rem;
          font-weight: 700;
          padding: 0.3rem 3rem 0.3rem 3rem;
          width: min-content;
          position: absolute;
          top: -2rem;
        }
        &__logo {
          width: 40%;
          position: absolute;
          top: 0rem;
        }
        &__image {
          width: 50%;
          margin-top: 1rem;
        }
        &__figcaption {
          position: absolute;
          width: 60%;
          font-size: 1.25rem;
          right: 0rem;
          bottom: 0rem;
          text-align: right;
        }
      }
      &__carrousel {
        @include carrousel;
        margin-top: 3rem;
        &__left-arrow {
          left: 0;
        }
        &__right-arrow {
          right: 0;
        }
        &__cells {
          // border: 1px solid black;
          overflow: hidden;

          &__unit {
            width: 170px;
            // animation: defilement 2s infinite;
            &__image {
              max-width: 40px;
            }
          }
        }
      }
    }
    &__aside {
      width: 45%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      & > button {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 1rem;
        padding: 1rem;
        border: 4px solid transparent;
        text-align: left;
        & > img {
          width: 60px;
        }
        &:hover {
          border: 4px solid black;
        }
        & > div {
          & > div {
            font-weight: 500;
            font-size: 1.1rem;
          }
          & > h3 {
            margin-bottom: 0.3rem;
            margin-top: 0.3rem;
            font-size: 1.3rem;
          }
        }
      }
    }
  }
  &__secteurs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e6e6e6;
    margin-top: 6rem;
    // position: absolute;
    left: 0;
    width: 100%;
    padding: 3rem 0rem 3rem 0rem;
    > div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      > h2 {
        width: 90%;
        text-align: center;
        font-weight: 700;
        margin-bottom: 4rem;
      }
    }

    &__icons {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 3rem;
      width: 80%;
      &__label {
        width: 16%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        row-gap: 1rem;
        > div {
          text-align: center;
          font-weight: 600;
        }
        > img {
          width: 50px;
        }
      }
    }
    &__dots {
      margin-top: 5rem;
      width: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 0.9rem;
    }
  }
  &__infos {
    margin-bottom: 5rem;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      column-gap: 3rem;
      width: 90%;
    }
    &__card {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
      width: 20%;
      column-gap: 1rem;
      &__icon {
        background: #e6e6e6;
        padding: 1rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        aspect-ratio: 1/1;
        font-size: 1.3rem;
      }
      &__text {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        & > h3 {
          margin: 0;
          margin-bottom: 0.2rem;
        }
        & > div {
          color: #aab9c2;
          font-size: 1.1rem;
        }
      }
    }
  }
  &__experience {
    background: #f6f6f6;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    & > div {
      display: flex;
      justify-content: space-between;
      max-width: 1500px;
      width: 80%;
    }
    &__image {
      width: 30%;
      aspect-ratio: 1/1;
      > img {
        width: 100%;
      }
    }
    &__text {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      &__title {
        font-size: 2rem;
        margin-top: -4rem;
        margin-bottom: 5rem;
      }
      &__subtitle {
        font-size: 1.5rem;
        font-weight: 400;
      }
      &__paragraphe {
        font-size: 0.95rem;
      }
    }
  }
  &__activites {
    display: flex;
    justify-content: center;
    &__title {
      font-size: 2rem;
      text-align: center;
      margin-bottom: 5rem;
      margin-top: 5rem;
    }
    & > div {
      display: flex;
      flex-direction: column;
      max-width: 1500px;
    }
    &__cards-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 25%;
        &__image {
          width: 80%;
          box-shadow: 1px 1px 3px 0px #000000;
          border-radius: 10px;
        }
        &__date {
          color: $primary-color;
          margin-top: 1.8rem;
          text-align: left;
          align-self: flex-start;
          margin-left: 10%;
        }
        & > h4 {
          width: 80%;
          text-align: left;
          align-self: flex-start;
          font-size: 1.4rem;
          margin-left: 10%;
        }
      }
    }
  }
}
